:root{
    /* --color-accent: #FFD700 ; */
    --color-accent: #fff176;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #020202;
  
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a, p{
    color: var(--color-accent);
    text-decoration: none;
    font-family: "Basis Grotesque Regular";
    font-size: 1.5rem;
}

nav{
    position: fixed;
    
    top: 0;
    width: 100%;
    padding: 1.5em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    z-index: 1000;

}


h3{
   
    font-size: 2rem;
    color: white;
}

nav>div{
    padding: 0.2rem;
    border-radius: 1rem;
    z-index: 1000;
}
.left:hover, .right:hover, #musicToggle:hover{
    cursor: pointer;
}
nav>div img{
    width: 5rem;
    height: 5rem;
}

.left{
    background-color: purple;
    
}

.right{
    background-color: blue;
   
}
#backgroundMusic{
    background-color: transparent;
    /* color: var(--color-accent); */
    color: #f9f2b5;

    /* --color-accent: #f9f2b5; */
    
}
#musicToggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}
#musicToggle svg {
    width: 30px;
    height: 30px;
    fill: #f9f2b5;
}
.hidden {
    display: none;
}
p{
    font-size: 1.5rem;
}



.container{
    width: 100%;
    height: 2000vh;
}


.active-slide{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    opacity: 0.35;
    z-index: -1;
}

.active-slide img{
    position: absolute;
    filter: blur(50px);
    transform: scale(1.125);

}

.slider{
    position: fixed;
    top: 0;
    left: 2.5vw;
    width: 95vw;
    margin: auto;
    height: 100vh;
    transform-style: preserve-3d;
    perspective: 47rem;
    overflow: hidden;
}

.slide{
    position: absolute;
    width: 25rem;
    height: 31.25rem;
    overflow: hidden;
}
.slide-copy{
    text-transform: uppercase;
    text-align: center;
    font-family: "PP Monument Extended";
    font-size: 1.2rem;
    font-weight: bolder;
    line-height: 150%;
    color: var(--color-accent);
  }

.slide-copy p#index{
    font-family: "Basis Grotesque Regular";
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 0.75em;
}

#slide-1{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%) translateZ(-22500px);
    opacity: 0;
}

#slide-2{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%) translateZ(-20000px);
    opacity: 0;
}
#slide-3{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%) translateZ(-17500px);
    opacity: 0;
}

#slide-4{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%) translateZ(-15000px);
    opacity: 0;
}
#slide-5{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%) translateZ(-12500px);
    opacity: 0;
}

#slide-6{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%) translateZ(-10000px);
    opacity: 0;
}
#slide-7{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%) translateZ(-7500px);
    opacity: 0;
}

#slide-8{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%) translateZ(-5000px);
    opacity: 0;
}
#slide-9{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%) translateZ(-2500px);
    opacity: 0.5;
}

#slide-10{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%) translateZ(0px);
    opacity: 1;
}

#fireworks {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}









